.footerHold {
    height: 5em;
    background-color: #170c07;
    color: whitesmoke;
    display: grid;
    justify-content: center;
    align-self:end;
    position: relative;
}

.p {
    font-family: monospace;
    font-size: 0.8rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0 5px;
    
}

.copyrights {
    align-self: flex-end;
    text-align: center;
    margin: .5rem 0;
    font-size: 0.8rem;
    font-weight: bolder;
    font-family: mono;
}

.scrollTop {
    position: absolute;
    right: 2%;
    top:5%;
    height: 2em;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.2s;
    color: #702c0c;
    background-color: #381d10;
    border-radius: 50%;
    padding: 2px;
}

.scrollTop:hover {
    transform: scale(1.1) rotate(180deg);
}