@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.aljazeera {
  margin-right: 1rem;
  font-weight: bolder;
  text-decoration: underline;
  padding: 0.1rem 0;
}

.headline {
  margin: 2em ;
}

.titles {
  margin-bottom: 0.5em;
  color: #d7c1b1;
  background-color: rgb(68, 25, 9);
  font-weight: bolder;
  font-size: 0.9rem;
  font-family:sans-serif;
  padding: 0.7em;
  box-shadow: 3px 3px 6px 2px rgb(119, 29, 17);
  transition: .3s;

}

.titles:hover {
  background: rgb(46, 11, 3);

}

.demo {
  height: 100vh;
}

.img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}


@media screen and (min-width:800px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.4rem;
    justify-content: space-between;
    align-items: center;
  }
  .titles {
    display: grid;
    overflow: auto;
    height: 18em;
  }
}

